<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= task.title %>
  </title>
</head>

<body>
  <a href="/tasks">Back</a>
  <a href="/tasks/<%=task.id %>/edit ">Edit Task</a>
  <h1>
    <%= task.title %>
      <%= task.priority==='High' ? '!!!' : task.priority==='Medium' ? '!!' : task.priority==="Low" ? '!' : '' %>
  </h1>
  <p>
    <%= task.lastUpdated %>
  </p>
  <p>
    <%= task.description %>
  </p>
</body>

</html>